<!-- <mat-tab-group>
    <mat-tab label="Grupo A">
        <app-simulacao-grupo-a></app-simulacao-grupo-a>
    </mat-tab>

    <mat-tab label="Grupo B">
        <app-simulacao-grupo-b></app-simulacao-grupo-b>
    </mat-tab>
</mat-tab-group> -->

<div class="mt-3">
    <h2 class="my-title-1">Simulações</h2>
</div>


<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mt-1">
        <div class="card"> 
            <a routerLink="/simulacoes/enquadramento-tarifario" class="my-link">
                <div class="card-body">
                    <img width="50px" 
                        src="assets/images/enquadramento-tarifario.png" 
                        alt="">
                    <span class="ms-2">Enquadramento Tarifário</span>
                </div>
            </a>        
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mt-1">
        <div class="card"> 
            <a routerLink="/simulacoes/enquadramento-tarifario" 
                class="my-link">

                <div class="card-body">
                    <img width="50px" 
                        src="assets/images/analize.png" 
                        alt="">
                    <span class="ms-2">Analize de Ajuste na Contratação de demanda</span>
                </div>
            </a>        
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mt-1">
        <div class="card"> 
            <a routerLink="/simulacoes/enquadramento-tarifario" class="my-link">
                <div class="card-body">
                    <img width="50px" 
                        src="assets/images/migracao.png" 
                        alt="">
                    <span class="ms-2">
                        Migração de Baixa Para Media Tensão
                    </span>
                </div>
            </a>        
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mt-1">
        <div class="card"> 
            <a routerLink="/simulacoes/enquadramento-tarifario" class="my-link">
                <div class="card-body">
                    <img width="50px" 
                        src="assets/images/enquadramento-tarifario.png" 
                        alt="">
                    <span class="ms-2">
                        Multas e Reativos
                    </span>
                </div>
            </a>        
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mt-1">
        <div class="card"> 
            <a routerLink="/simulacoes/enquadramento-tarifario" class="my-link">
                <div class="card-body">
                    <img width="50px" 
                        src="assets/images/enquadramento-tarifario.png" 
                        alt="">
                    <span class="ms-2">
                        Migração de Baixa Tensão para Optante B
                    </span>
                </div>
            </a>        
        </div>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12 mt-1">
        <div class="card"> 
            <a routerLink="/simulacoes/enquadramento-tarifario" class="my-link">
                <div class="card-body">
                    <img width="50px" src="assets/images/enquadramento-tarifario.png" alt="">
                    <span class="ms-2">
                        Dimensionamento de GD
                    </span>
                </div>
            </a>        
        </div>
    </div>
</div> -->