
<div class="card">         
    <div class="card-body">
        <div style="display: flex; align-items: center;">
            <div>
                <img width="40px" 
                    src="assets/images/{{mes}}.png" 
                    alt="">
            </div>

            <div>
                <div>
                    <span class="ms-2" 
                        style="font-weight: 500; color: #3f51b5;">
                        {{mes}}
                    </span>
                </div>
                
                <span class="ms-2" style="color: #777; font-weight: 500;">
                    {{valor | currency}}
                </span>
            </div>
        </div>
    </div>        
</div>