<mat-toolbar color="primary">
    <mat-toolbar-row >
        <button 
            mat-icon-button class="example-icon" 
            aria-label="Example icon-button with menu icon"
            routerLink="/home">

            <mat-icon>arrow_back_ios</mat-icon>
        </button>

        <span>Aton</span>

        <span class="example-spacer"></span>
        <!-- <div class="user-name">Jaques Oliveira</div> -->
        
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>person</mat-icon>
        </button>
        
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>settings</mat-icon>
        </button>

        <button mat-icon-button 
            class="example-icon" 
            aria-label="Example icon-button with share icon"
            routerLink="/">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>