<div class="mt-3 my-title-1"><h2>Produtos</h2></div>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mt-1">
        <a (click)="cadastrarInversor()">
            <div class="card">                
                <div class="card-body">                    
                    <img width="50px" src="assets/images/inversor.png" alt="">
                    <span class="ms-2">Iversor</span>                    
                </div>                
            </div>
        </a>
    </div>

    <div class="col-lg-3 mt-1">
        <a (click)="cadastrarModulo()">
            <div class="card">
                <div class="card-body">
                    <img width="50px" src="assets/images/modulo.png" alt="">
                    <span class="ms-2">Módulo Fotovoltaico</span>
                </div>
            </div>
        </a>
    </div>
</div>
