<div class="full-container" *ngIf="showSpinner">
    <mat-spinner class="load-centered"></mat-spinner>
</div>
<div class="row mt-1 mb-1">
    <div class="d-flex justify-content-between" 
        style="display: flex; align-items: center; padding-top: 15px; padding-bottom: 15px;">
        <div style="display: flex; align-items: center;">
            <img width="30px" 
                src="assets/images/inversor.png" alt="">
            <span class="ms-1 my-title-1" 
                style="font-size: 25px; font-weight: 500;">
                
                Clientes
            </span>
        </div>

        <div>
            <button mat-mini-fab
                color="primary"
                (click)="navegarParaFormularioDeCliente()"
                class="pc-only">

                <mat-icon>add</mat-icon>
            </button>

            <button mat-mini-fab
                class="ms-1"
                color="primary"
                data-bs-toggle="offcanvas" 
                data-bs-target="#offcanvasFiltrosInversores" 
                aria-controls="offcanvasFiltrosInversores">

                <mat-icon>filter_alt</mat-icon>
            </button>

            <button mat-mini-fab
                color="primary"
                class="ms-1"
                (click)="navegarParaMenuDeClientes()">

                <mat-icon>close</mat-icon>
            </button>
        </div>        
    </div>
</div>
<mat-divider class="pc-only"></mat-divider>



<div class="mt-2 mb-5 d-flex justify-content-center">
    <div style="max-width: 900px; width: 900px;">    
        <ng-container *ngFor="let inv of clienteList">
            <mat-expansion-panel 
                class="mb-1" 
                hideToggle="false" 
                expanded="false">
                
                <mat-expansion-panel-header 
                    style="height: 100px;">
                    
                    <mat-panel-title class="d-flex justify-content-between">
                        <div style="width: 90%;">

                            <div style="display: flex; align-items: center;">
                                <img width="40px" 
                                    class="me-2"
                                    src="assets/images/cliente-2.png" 
                                    alt="">
                                <span class="ms-1 my-title-1" 
                                    style="font-size: larger; font-weight: 500;">
                                    
                                    {{inv.nome}}
                                    <div>
                                        <small style="color: #777; font-size: 12px;">{{inv.email}}</small>
                                    </div>
                                </span>
                            </div>
                            

                            <div class="row">
                                <!-- <div class="col-lg-4 col-sm-3 col-xs-12">
                                    <small>Monitoramento:</small>{{inv.monitoramento}}
                                </div>
                                <div class="col-lg-4 col-sm-3 col-xs-12">
                                    <small>Modelo: </small>{{inv.modelo}}
                                </div>
                                <div class="col-lg-4 col-sm-3 col-xs-12">
                                    <small>Potência: </small>{{inv.potencia}}
                                </div> -->
                            </div>
                        </div>                    
                        
                    </mat-panel-title>
                </mat-expansion-panel-header>
                
                <mat-divider></mat-divider>
                <div class="row" style="height: 70px; padding-top: 5px; padding-bottom: 15px;">
                    <div class="col-lg-4 col-sm-3 col-xs-12">
                        <small>Monitoramento: </small>{{inv.cpf}}
                    </div>
                    <div class="col-lg-4 col-sm-3 col-xs-12">
                        <small>Modelo: </small>{{inv.rg}}
                    </div>
                    <div class="col-lg-4 col-sm-3 col-xs-12">
                        <small>Potência: </small>{{inv.telefone}}
                    </div>
                    <div class="col-lg-4 col-sm-3 col-xs-12">
                        <small>Potência: </small>{{inv.email}}
                    </div>
                </div>

                <mat-divider></mat-divider>
                <div class="row">
                    <div class="d-flex justify-content-end "
                        style="padding-top: 10px;">
                        <button mat-mini-fab
                            color="primary"
                            (click)="editar(inv)">
            
                            <mat-icon>edit</mat-icon>
                        </button>
            
                        <button mat-mini-fab
                            class="ms-1"
                            color="primary"
                            (click)="excluir(inv.id)">
            
                            <mat-icon>delete</mat-icon>
                        </button> 
                    </div>
                </div>
                
            </mat-expansion-panel>
        </ng-container>
    </div>
</div>

<!-- FILTROS -->
<div 
    class="offcanvas offcanvas-end" 
    data-bs-scroll="true" 
    data-bs-backdrop="false" 
    tabindex="-1" 
    id="offcanvasFiltrosInversores" 
    aria-labelledby="offcanvasFiltrosInversoresLabel">

    <div class="offcanvas-header"
        style="display: flex; align-items: center;">
        <h2 class="offcanvas-title" 
            style="color: #3f51b5;"
            id="offcanvasFiltrosInversoresLabel">
            
            Filtros
        </h2>

        <button mat-mini-fab
            color="primary"
            data-bs-dismiss="offcanvas"
            aria-label="Close">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="offcanvas-body">
        <div class="row">
            <div class="mb-3 col-12">
                <label for="fabricante" 
                    class="form-label">
                    
                    Nome
                </label>
                <input class="form-control form-control-sm"
                     [(ngModel)]="filtros.nome"
                    id="fabricante">
            </div>

            <div class="mb-3 col-12">
                <label for="potencia" 
                    class="form-label">
                    
                    CPF
                </label>
                <input class="form-control form-control-sm" 
                    [(ngModel)]="filtros.cpf"
                    id="potencia">
            </div>

            <div class="mb-3 col-12">
                <label for="garantia" 
                    class="form-label">

                    RG
                </label>
                <input class="form-control form-control-sm"
                    [(ngModel)]="filtros.rg"              
                    id="garantia">
            </div>
            <!-- (keyup.enter)="onEnter()" -->

            <div class="mb-3 col-12">
                <label for="monitoramento" 
                    class="form-label">
                    
                    Telefone
                </label>
                <input class="form-control form-control-sm"
                    [(ngModel)]="filtros.telefone"
                    id="modelo">
                   
            </div>

            <div class="mb-3 col-12">
                <label for="modelo" 
                    class="form-label">
                    
                    E-mail
                </label>
                <input class="form-control form-control-sm"
                    [(ngModel)]="filtros.email"
                    id="modelo">
            </div>
        </div>
        <mat-divider></mat-divider>

        <div class="row mt-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button mat-raised-button 
                    color="primary" 
                    (click)="limpar()"
                    class="col-12 mb-1">
                
                    Limpar
                </button>
            </div>            
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button mat-raised-button
                    color="primary"
                    (click)="pesquisar()"
                    data-bs-dismiss="offcanvas"
                    class="col-12 mb-1">
                    
                    Pesquisar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-end" 
    style="position: fixed; bottom: 30px; right: 50px; z-index: 20;">
    <button mat-fab 
        color="primary"
        class="mobile-only"
        (click)="navegarParaFormularioDeCliente()">
        <mat-icon>add</mat-icon>
    </button>
</div>
