<div class="d-flex justify-content-center mt-2" >
    <div id="folha-a4" class="folha a4_vertical">
        <div id="conteudo">
            <h1 class="titulo-principal">SOLAR PLUS BRASIL</h1>
        </div>

        <div class="d-flex justify-content-center" 
            style="display: flex; align-items: center; height: 800px;">
            <img style="width: 55%;" 
                src="assets/images/logo-solar-plus.png" alt="">
        </div>

        <!-- bottom -->
        <div class="bottom-info">
            <div class="mb-2">
                <span class="sub-titulo">Proposta Comercial #00001</span>
            </div>
            <div class="texto-capa">
                <span>Elaborado para: Jaques Oliveira</span>
            </div>
            <div class="texto-capa">
                <span>Fortaleza - CE</span>
            </div>
            <div class="texto-capa">
                <span>
                    Responsável: Sydney Ipiranga | (85) 99999-8888
                    <img src="assets/images/zap.png" width="28px" alt="">
                </span>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-2">
    <div id="folha-a4" class="folha a4_vertical">
        <div id="conteudo">
            <h1 class="titulo-principal">SOLAR PLUS BRASIL</h1>
        </div>
    </div>
</div>

