<div class="mt-2 mb-2">
    <button mat-raised-button 
        color="primary"
        (click)="imprimir()">
        imprimir
    </button>
</div>

<div id="content" #content>
    
    <div class="d-flex justify-content-center">
        <div id="folha-a4" class="folha a4_vertical">
            <div class="d-flex justify-content-center" 
                style="display: flex; align-items: center; height: 530px;">
                <img style="height: 100%; width: 100%; height: 810px;
                    position: relative; z-index: 1; margin-top: 280px;"
                    src="assets/images/bg-01.jpg" alt="">
            </div>
            
            <div id="conteudo" 
                style="margin-top: -500px; position: relative; z-index: 1;"
                class="d-flex justify-content-center">
                <h1 class="titulo-principal">PROPOSTA COMERCIAL</h1>
            </div>

            <div class="d-flex justify-content-center" 
                style="display: flex; align-items: center; height: 530px; ">
                <img style="width: 30%; z-index: 100; position: relative;" 
                    src="assets/images/logo-solar-plus.png" alt="">
            </div>

            <div class="bottom-info" style="z-index: 1;">
                <div class="mb-2">
                    <span class="sub-titulo">Proposta Comercial #00001</span>
                </div>
                <div class="texto-capa">
                    <span>Elaborado para: {{proposta.cliente.nome}}</span>
                </div>
                <div class="texto-capa">
                    <span>Fortaleza - CE</span>
                </div>
                <div class="texto-capa">
                    <span>
                        Responsável: Sydney Ipiranga | (85) 99999-8888
                        <img src="assets/images/zap.png" width="28px" alt="">
                    </span>
                </div>
            </div>
        </div>
    </div>
    

    <!-- <mat-divider></mat-divider> -->
    <div>
        <div id="folha-a4" class="folha a4_vertical">
            <div id="conteudo" 
                class="d-flex justify-content-start">
                <h1 class="titulo-principal">Solar Plus Brasil</h1>
            </div>
    
            <div class="d-flex justify-content-start">
                <div>
                    <span>22.289.516/0001-30</span><br>
                    <span>Rua Monsenhor Catão, 1191</span><br>
                    <span>Aldeota | Fortaleza/CE</span><br>
                    <span>(85) 988789274</span><br>
                    <span>{{email}}</span>
                </div>        
            </div>
        </div>
    </div>

    <!-- <mat-divider></mat-divider> -->
    <div>
        <div id="folha-a4" class="folha a4_vertical">
            <div id="conteudo" 
                class="d-flex justify-content-start">
                <h1 class="titulo-principal">Vantagens da energia solar</h1>
            </div>

           
            <div class="d-flex justify-content-center mt-3" 
                style="display: flex; align-items: center;">
                <img style="width: 100%; z-index: 100; position: relative;" 
                    src="assets/images/painel-pessoa.jpg" alt="">
            </div>
            
            <div  class="mt-5">
                <div class="mb-3">
                    <span class="descricao-vantagens ">Manutenção simples: Apenas limpeza das placas</span><br>
                </div>
                <div class="mb-3">
                    <span class="descricao-vantagens mb-3">Elevada redução na conta de energia</span><br>
                </div>
                <div class="mb-3">
                    <span class="descricao-vantagens mb-3">Vida útil de sustema prolongado</span><br>
                </div>
                <div class="mb-3">
                    <span class="descricao-vantagens mb-3">Energia limpa e inegotável</span><br>
                </div>
                <div class="mb-3">
                    <span class="descricao-vantagens mb-3">Melhor rendimento mensal</span>
                </div>        
            </div>
        </div>
    </div>
   

    <!-- <mat-divider></mat-divider> -->
    <div>
        <div id="folha-a4" class="folha a4_vertical">
            <div id="conteudo" 
                class="d-flex justify-content-start">
                <h1 class="titulo-principal">Detalhes de proposta</h1>
            </div>

           
            <div class="d-flex justify-content-center mt-3" 
                style="display: flex; align-items: center;">
                <img style="width: 100%; z-index: 100; position: relative;" 
                    src="assets/images/telhado-painel.jpg" alt="">
            </div>

            <!-- <div id="conteudo" 
                class="d-flex justify-content-start">
                <h1 class="titulo-principal">Usina</h1>
            </div> -->

            <div class="mt-2">
                As características locais da propriedade onde será feita a instalação do sistema
                fotovoltaico são de extrema importância para a condução do projeto. É necessário
                realizar um estudo a fim de se verificar a presença de características indesejáveis
                para a instalação do sistema no local. A ocorrência de sombreamentos nos painéis
                fotovoltaicos acarreta na redução da energia gerada, e, portanto, compromete a
                eficiência do sistema fotovoltaico. Também é importante verificar a orientação
                geográfica da construção para assegurar a melhor disposição dos painéis, de modo
                que o sistema opere de maneira otimizada.
            </div>
            
            <div  class="mt-5">
                <table class="table">                    
                    <tr>
                        <td style="font-weight: bold;">Consumo médio mensal de energia:</td>
                        <td>{{proposta.consumoMedioMensal}} Kwh/mês</td>                        
                    </tr>

                    <tr>
                        <td style="font-weight: bold;">Consumo médio anual de energia:</td>
                        <td>{{proposta.consumoAnual}} Kwh/mês</td>                        
                    </tr>
                    
                    <tr>
                        <td style="font-weight: bold;">Geração média mensal estimada:</td>
                        <td>{{proposta.producaoMediaMensal}} Kwh/mês</td>                     
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Geração média anual estimada:</td>
                        <td>{{proposta.producaoAnual}} Kwh/mês</td>                     
                    </tr>
                </table>       
            </div>
        </div>
    </div>


    <div>
        <div id="folha-a4" class="folha a4_vertical">
            <div id="conteudo" 
                class="d-flex justify-content-start">
                <h1 class="titulo-principal">Equipamentos</h1>
            </div>

           
            <div class="d-flex justify-content-center mt-3" 
                style="display: flex; align-items: center;">
                <img style="width: 100%; z-index: 100; position: relative;" 
                    src="assets/images/casa-painel.jpg" alt="">
            </div>

            <!-- <div id="conteudo" 
                class="d-flex justify-content-start">
                <h1 class="titulo-principal">Usina</h1>
            </div> -->
           
            
            <div  class="mt-5">
                <table class="table">                    
                    <tr>
                        <td style="font-weight: bold;">Módulo</td>
                        <td style="font-weight: bold;">Inversor</td>    
                    </tr>

                    <tr>
                        <td>{{proposta.modulo.fabricante}}</td>
                        <td>{{proposta.inversor.fabricante}}</td>                        
                    </tr>
                    
                    <tr>
                        <td>{{proposta.modulo.potencia}}</td>
                        <td>{{proposta.inversor.modelo}}</td>                        
                    </tr>
                </table>       
            </div>
        </div>
    </div>
    
    <div class="mt-5" style="height: 200px;">
        
    </div>
</div>    


