<!-- <div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Aton</span>
        </mat-toolbar-row>
    </mat-toolbar>
</div> -->

<div style="height: 100%;">
    <div class="row imagem" style="height: 100%; width: 100.85%;">

        <div class="col-lg-4" style="margin-top: 10%; margin-left: 10%;">
            <div style="padding: 15px; margin-top: 15px; color: #fff; font-weight: bold;">
                <span style="font-size: 35px;">ATON </span>
                <span style="font-size: smoller !important;">1.0.0</span>
            </div>
            
            <mat-divider></mat-divider>
            <div style="padding-left: 15px; margin-top: 15px; color: #fff; font-weight: bold;">
                <span>LOGIN PAGE</span>
            </div>
            
            <div style="padding: 15px;">
                <form class="example-form">
                    <mat-form-field>
                        <mat-label>Usuário</mat-label>
                        <input matInput value="Jaques Oliveira" class="col-lg-6">
                    </mat-form-field>
                    <br>
            
                    <mat-form-field>
                        <mat-label>Senha</mat-label>
                        <input matInput value="********" class="col-12">
                    </mat-form-field>
                </form>
            </div>
            
            <mat-divider></mat-divider> 
            
            <div style="padding: 15px;">
                <button 
                    (click)="logar()"
                    mat-raised-button 
                    color="primary">Logar</button>
            </div>
        </div>

        <div class="col-lg-8" >            
        </div>
    </div>
</div>