<mat-drawer-container class="example-container" >
    <mat-drawer #drawer class="example-sidenav teste-scroll" mode="side">
        <div class="row mb-3">
            <span class="side-menu-title ms-4 mt-3 mb-2 my-title-1">Menu</span>
        </div>        
        
        
    </mat-drawer>
  
        <mat-toolbar color="primary">
            <mat-toolbar-row style="padding-left: 0px;">
                <!-- <button 
                    mat-icon-button 
                    class="example-icon" 
                    aria-label="Example icon-button with menu icon"
                    (click)="drawer.toggle()">

                    <mat-icon>menu</mat-icon>
                </button> -->

                <button 
                    mat-icon-button
                    class="example-icon"
                    data-bs-toggle="offcanvas" 
                    data-bs-target="#offcanvasExample">

                    <mat-icon>menu</mat-icon>
                </button>                
        
                <img src="assets/images/logo.png" style="width: 50px;" alt="">
                <span class="ms-2">Energy System</span>
        
                <span class="example-spacer"></span>
                <!-- <div class="user-name">Jaques Oliveira</div> -->
                
                <button mat-icon-button 
                    class="example-icon favorite-icon" 
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>person</mat-icon>
                </button>
                
                <button mat-icon-button 
                    class="example-icon" 
                    aria-label="Example icon-button with share icon">
                    <mat-icon>settings</mat-icon>
                </button>
        
                <button mat-icon-button 
                    class="example-icon" 
                    aria-label="Example icon-button with share icon"
                    (click)="sair()">
                    <mat-icon>logout</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="container" >
            <router-outlet></router-outlet>            
        </div>
  
</mat-drawer-container>

<div class="offcanvas offcanvas-start" 
    tabindex="1" 
    id="offcanvasExample"
    data-bs-backdrop="false"
    aria-labelledby="offcanvasExampleLabel">
    
    <div>
        <div class="d-flex justify-content-between ps-3 pt-3 pe-3" 
            style="display: flex; align-items: center;">
            <div>
                <span class="my-title-1 my-side-menu-title-1">
                    
                    Menu
                </span>
            </div>
            
            <div>
                <button mat-mini-fab
                    color="primary"        
                    data-bs-dismiss="offcanvas" 
                    aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
            </div>            
        </div>        
    </div>
    
    <div class="offcanvas-body" style="top: -20px;">
        <div class="row">
            <ul>
                <mat-divider></mat-divider> 
                <li style="margin-top: 10px; margin-bottom: 10px;">
                    <a routerLink="/home" 
                        class="btn ms-2 mt-2 my-title-1"
                        style="display: flex; align-items: center;"
                        data-bs-dismiss="offcanvas">

                        <mat-icon>dashboard</mat-icon>
                        <span class="ms-2">Dashboard</span> 
                    </a>
                </li>
                <mat-divider></mat-divider>
                
                <li>
                    <div class="accordion accordion-flush" 
                        id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne" 
                                style="padding-bottom: 0px !important;" >
                                <button 
                                    class="accordion-button collapsed  my-title-1" 
                                    type="button" 
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#flush-collapseOne" 
                                    aria-expanded="false" 
                                    aria-controls="flush-collapseOne"
                                    style="padding-bottom: 0px !important;">

                                    <mat-icon>description</mat-icon>                                    
                                    <span class="ms-2">Cadastros</span>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" 
                                class="accordion-collapse collapse" 
                                aria-labelledby="flush-headingOne" 
                                data-bs-parent="#accordionFlushExample">

                                <li style="margin-top: 10px; margin-bottom: 10px;">
                                    <a routerLink="/cadastro/clientes" 
                                        class="btn ms-4 mt-2 my-title-1"
                                        style="display: flex; align-items: center;"
                                        data-bs-dismiss="offcanvas">
                
                                        <mat-icon>group</mat-icon>                                    
                                        <span class="ms-2">Clientes</span>
                                        
                                    </a>
                                </li>
                                <mat-divider></mat-divider>
                
                                <li style="margin-top: 10px; margin-bottom: 10px;">
                                    <a routerLink="/cadastro/produtos" 
                                        class="btn ms-4 mt-2 my-title-1"
                                        style="display: flex; align-items: center;"
                                        data-bs-dismiss="offcanvas">

                                        <mat-icon>inventory_2</mat-icon>                                    
                                        <span class="ms-2">Produtos</span>
                                    </a>
                                </li>
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                    </div>
                </li>
                <mat-divider></mat-divider>
                
                <!-- <li>
                    <div class="accordion accordion-flush" 
                        id="accordionFlushExample2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button 
                                    class="accordion-button collapsed my-title-1"
                                    style="padding-bottom: 0px !important;" 
                                    type="button" 
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#flush-collapseTwo" 
                                    aria-expanded="false" 
                                    aria-controls="flush-collapseTwo">

                                    <mat-icon>signpost</mat-icon>                                    
                                    <span class="ms-2">Simulações</span>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" 
                                class="accordion-collapse collapse" 
                                aria-labelledby="flush-headingTwo" 
                                data-bs-parent="#accordionFlushExample2">
                                
                                <li style="margin-top: 10px; margin-bottom: 10px;">
                                    <a routerLink="/simulacao-a" 
                                        class="btn ms-4 mt-2 my-title-1"
                                        data-bs-dismiss="offcanvas">
                                        Simulação Grupo A
                                    </a> 
                                </li>
                                <mat-divider></mat-divider>
                
                                <li style="margin-top: 10px; margin-bottom: 10px;">
                                    <a routerLink="/simulacao-b" 
                                        class="btn ms-4 mt-2 my-title-1"
                                        data-bs-dismiss="offcanvas">
                
                                        Simulação Grupo B
                                    </a>                     
                                </li>
                                <mat-divider></mat-divider>
                
                                <li style="margin-top: 10px; margin-bottom: 10px;">
                                    <a routerLink="/dimensionamento-bateria" 
                                        class="btn ms-4 mt-2 my-title-1"
                                        data-bs-dismiss="offcanvas">
                
                                        Dimensionamento Bateria
                                    </a>
                                </li>
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                    </div>
                </li>                 -->

                <li style="margin-top: 10px; margin-bottom: 10px;">
                    <a routerLink="/simulacoes" 
                        class="btn ms-2 mt-2 my-title-1"
                        style="display: flex; align-items: center;"
                        data-bs-dismiss="offcanvas">

                        <mat-icon>signpost</mat-icon>                                    
                        <span class="ms-2">Simulações</span>
                    </a>
                </li>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>

                <li style="margin-top: 10px; margin-bottom: 10px;">
                    <a routerLink="/propostas" 
                        class="btn ms-2 mt-2 my-title-1" 
                        style="display: flex; align-items: center;"
                        data-bs-dismiss="offcanvas">

                        <mat-icon>shopping_bag</mat-icon>                                    
                        <span class="ms-2">Propostas</span>
                        
                    </a>
                </li>
                <mat-divider></mat-divider>
            </ul>
        </div>
    </div>
</div>
