.example-spacer {
    flex: 1 1 auto;
}

.field{
    width: 100% !important;
}

.coluna-verde {
    background-color: #99ce93;
}

.consumo-producao{
    background-color: #99ce93;
    color: #333;
    padding: 10px;
}

.myFieldSet {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
    background-color: #FFF;
    border-radius: 5px;
    border: #333;
}

legend {    
    color: #555;
    font-size: medium;
}

.spinner{
    margin: auto;
    margin-top: 350px !important;
    z-index: 5;
}