<mat-drawer-container class="example-container" >
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="row mb-3">
            <span class="side-menu-title">Menu</span>
        </div>
        <mat-divider></mat-divider>
        
        <div class="row col-12 ">
            <div class="col-12 container-btn-side-menu">
                <button mat-button class="btn-side-menu">
                    Dimensionamento de Bateria
                </button>
            </div>                       
            <mat-divider></mat-divider>

            <div class="col-12">
                <button mat-button class="btn-side-menu">
                    Simulação Grupo A
                </button>
            </div>

            <mat-divider></mat-divider>
            <div class="col-12">
                <button mat-button class="btn-side-menu" (click)="abrirSimulacaoB()">
                    Simulação Grupo B
                </button>
            </div>

            
            
        </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row >
                <button 
                    mat-icon-button class="example-icon" 
                    aria-label="Example icon-button with menu icon"
                    (click)="drawer.toggle()">

                    <mat-icon>menu</mat-icon>
                </button>
        
                <span>Aton</span>
        
                <span class="example-spacer"></span>
                <!-- <div class="user-name">Jaques Oliveira</div> -->
                
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon>person</mat-icon>
                </button>
                
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>settings</mat-icon>
                </button>
        
                <button mat-icon-button 
                    class="example-icon" 
                    aria-label="Example icon-button with share icon"
                    (click)="sair()">
                    <mat-icon>logout</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>


        <!-- <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button> -->
    </div>
  
  </mat-drawer-container>