<div class="full-container" *ngIf="showSpinner">
    <mat-spinner class="load-centered"></mat-spinner>
</div>

<div class="mt-2 d-flex justify-content-center">
    <div style="width: 900px; max-width: 900px;">
        <div class="row mt-1 mb-1">
            <div class="d-flex justify-content-between" 
                style="display: flex; align-items: center; padding-top: 15px; padding-bottom: 15px;">
                
                <div style="display: flex; align-items: center;">
                    <img width="30px" 
                        src="assets/images/inversor.png" alt="">
                    <span class="ms-1 my-title-1" 
                        style="font-size: 25px; font-weight: 500;">
                        
                        Cadastrar Cliente
                    </span>
                </div>

                
                <button mat-mini-fab
                    color="primary"
                    (click)="navegarParaListaDeClientes()">

                    <mat-icon>close</mat-icon>
                </button>
                
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div style="width: 900px; max-width: 900px;">
        <div class="card mb-1">

            <div class="card-body"> 

                <div class="row mt-1">
                    <!-- <div class="mb-3 col-12">
                        <label for="fabricante" 
                            class="form-label">
                            
                            Nome
                        </label>
                        <input class="form-control form-control-sm"
                            [(ngModel)]="clientePessoaFisica.nome"
                            id="fabricante">
                    </div> -->

                    <mat-form-field class="mb-3 col-12">    
                        <mat-label>Nome</mat-label>
                        <input matInput 
                            [(ngModel)]="clientePessoaFisica.nome">
                    </mat-form-field>

                    <!-- <div class="mb-3 col-lg-4 col-12">
                        <label for="potencia" 
                            class="form-label">
                            
                            CPF
                        </label>
                        <input class="form-control form-control-sm" 
                        [(ngModel)]="clientePessoaFisica.cpf"
                            id="potencia">
                    </div> -->

                    <mat-form-field class="mb-3 col-lg-4 col-12">    
                        <mat-label>CPF</mat-label>
                        <input matInput 
                            [(ngModel)]="clientePessoaFisica.cpf">
                    </mat-form-field>                    

                    <mat-form-field class="mb-3 col-lg-4 col-12">    
                        <mat-label>RG</mat-label>
                        <input matInput 
                            [(ngModel)]="clientePessoaFisica.rg">
                    </mat-form-field>

                    <!-- <div class="mb-3 col-lg-4 col-12">
                        <label for="garantia" 
                            class="form-label">
                            
                            Telefone
                        </label>
                        <input class="form-control form-control-sm"
                            [(ngModel)]="clientePessoaFisica.telefone"
                            id="garantia">
                    </div> -->

                    <mat-form-field class="mb-3 col-lg-4 col-12">    
                        <mat-label>Telefone</mat-label>
                        <input matInput 
                            [(ngModel)]="clientePessoaFisica.telefone">
                    </mat-form-field>                   

                    <mat-form-field class="mb-3 col-12">    
                        <mat-label>E-mail</mat-label>
                        <input matInput 
                            [(ngModel)]="clientePessoaFisica.email">
                    </mat-form-field>
                </div>        
                
                <mat-divider></mat-divider>
                <div class="mt-2 d-flex justify-content-end">          

                    <button mat-raised-button 
                        color="primary"
                        class="col-6" 
                        (click)="limpar()">
                        Limpar
                    </button>
                    
                    <button mat-raised-button 
                        color="primary" 
                        (click)="salvar()"
                        class="ms-1 col-6">
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
