<div class="full-container" *ngIf="showSpinner">
    <mat-spinner class="load-centered"></mat-spinner>
</div>

<div class="mt-2 d-flex justify-content-center">
    <div style="width: 900px; max-width: 900px;">
        <div class="row mt-1 mb-1">
            <div class="d-flex justify-content-between" 
                style="display: flex; align-items: center; padding-top: 15px; padding-bottom: 15px;">
                
                <div style="display: flex; align-items: center;">
                    <img width="30px" 
                        src="assets/images/inversor.png" alt="">
                    <span class="ms-1 my-title-1" 
                        style="font-size: 25px; font-weight: 500;">
                        
                        Cadastrar Inversor
                    </span>
                </div>               
            </div>
        </div>
    </div>
</div>

<div class="mt-2 d-flex justify-content-center">
    <div style="width: 900px; max-width: 900px;">

        <div class="card mb-3">        
            <div class="card-body">
                <div class="row mt-3">
                    <div class="mb-3 col-sm-12 col-lg-12">
                        <label for="fabricante" 
                            class="form-label">
                            
                            Fabricante
                        </label>
                        <input class="form-control form-control-sm"
                            [(ngModel)]="inversor.fabricante"
                            id="fabricante">
                    </div>
        
                    <div class="mb-3 col-sm-12 col-lg-6">
                        <label for="potencia" 
                            class="form-label">
                            
                            Potência
                        </label>
                        <input class="form-control form-control-sm" 
                            [(ngModel)]="inversor.potencia"
                            id="potencia">
                    </div>
        
                    <div class="mb-3 col-sm-12 col-lg-6">
                        <label for="garantia" 
                            class="form-label">
                            
                            Garantia
                        </label>
                        <input class="form-control form-control-sm"
                            [(ngModel)]="inversor.garantiaDefeito"
                            id="garantia">
                    </div>
        
                    <div class="mb-3 col-sm-12 col-lg-6">
                        <label for="monitoramento" 
                            class="form-label">
                            
                            Monitoramento
                        </label>
                    
                        <select class="form-select form-select-sm" 
                            aria-label="Default select example"
                            [(ngModel)]="inversor.monitoramento">                    
                            <ng-container *ngFor="let monitor of monitoramentos">
                                <option [value]="monitor">{{monitor}}</option>
                            </ng-container>
                        </select>    
                    </div>
        
                    <div class="mb-3 col-sm-12 col-lg-6">
                        <label for="modelo" 
                            class="form-label">
                            
                            Modelo
                        </label>
                        <input class="form-control form-control-sm"
                            [(ngModel)]="inversor.modelo"
                            id="modelo">
                    </div>
                </div>        
                <mat-divider></mat-divider>
        
                <div class="row mt-2">
                    <div class="col-lg-4 col-sm-4 col-6">
                        <button mat-raised-button 
                            color="warn" 
                            (click)="limpar()"
                            class="mb-1 col-12"
                            style="background-color: grey; color: white;">

                            Limpar
                        </button>                
                    </div>
                    
                    <div class="col-lg-4 col-sm-4 col-6">
                        <button mat-raised-button
                            color="warn" 
                            class="mb-1 col-12"
                            style="background-color: grey; color: white;"
                            (click)="navegarParaListaDeInversores()">

                            Cancelar
                        </button>
                    </div>

                    <div class="col-lg-4 col-sm-4 col-12">
                        <button mat-raised-button 
                            color="primary" 
                            (click)="salvar()"
                            class="mb-1 col-12">

                            Salvar
                        </button>
                    </div>                           
                </div>
            </div>
        </div>
    </div>
</div>

